.container {
    margin-top: 30rem;
    text-align: center;
    margin-top: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.quiz-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.quiz-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.quiz-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.quiz-card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.quiz-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.quiz-card .btn-primary {
    background-color: #FF7043;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.quiz-card .btn-primary:hover {
    background-color: #F4511E;
}
